---
http_interactions:
- request:
    method: post
    uri: https://demo.docusign.net/api/3.0/api.asmx
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://www.docusign.net/API/3.0"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://www.docusign.net/API/3.0"><env:Header><wsse:Security
        xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"><wsse:UsernameToken
        wsu:Id="UsernameToken-1" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"><wsse:Username>[ROOM-1206c237-cd8d-4f10-8ec5-d48b92a7e65b]6032ec74-7bcc-4b35-bbb9-3bf8a44484f4</wsse:Username><wsse:Password
        Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText">roomorama</wsse:Password></wsse:UsernameToken></wsse:Security></env:Header><env:Body><ins0:Ping></ins0:Ping></env:Body></env:Envelope>
    headers:
      X-Docusign-Authentication:
      - <DocuSignCredentials><Username>6032ec74-7bcc-4b35-bbb9-3bf8a44484f4</Username><Password>roomorama</Password><IntegratorKey>ROOM-1206c237-cd8d-4f10-8ec5-d48b92a7e65b</IntegratorKey></DocuSignCredentials>
      Soapaction:
      - ! '"http://www.docusign.net/API/3.0/Ping"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
        xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"><soap:Header><wsa:Action>http://www.docusign.net/API/3.0/PingResponse</wsa:Action><wsa:MessageID>urn:uuid:08b9f464-7fc5-4425-a0af-dbb49fbbc074</wsa:MessageID><wsa:RelatesTo>urn:uuid:8ba8a641-af4d-4410-826f-58e3d1740359</wsa:RelatesTo><wsa:To>http://schemas.xmlsoap.org/ws/2004/08/addressing/role/anonymous</wsa:To><wsse:Security><wsu:Timestamp
        wsu:Id="Timestamp-23d0fb4b-f9ff-4dc4-8780-249745c96fa0"><wsu:Created>2012-04-28T00:23:15Z</wsu:Created><wsu:Expires>2012-04-28T00:28:15Z</wsu:Expires></wsu:Timestamp></wsse:Security></soap:Header><soap:Body><PingResponse
        xmlns="http://www.docusign.net/API/3.0"><PingResult>true</PingResult></PingResponse></soap:Body></soap:Envelope>
  recorded_at: Sat, 28 Apr 2012 00:23:15 GMT
recorded_with: VCR 2.1.1
